<%- include("header") -%>

<div class="container mt-3">
  <form action="/update/<%= post._id %>" method="POST">
    <div class="mb-3">
      <label for="title" class="mb-2 ms-1">Title: </label>
      <input
        type="text"
        required
        placeholder="Add Title"
        name="title"
        id="title"
        class="form-control"
        minlength="2"
        value="<%= post.title %>"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="mb-2 ms-1">Content: </label>
      <input
        type="text"
        required
        placeholder="Add Content"
        name="content"
        id="content"
        class="form-control"
        minlength="5"
        value="<%= post.content %>"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Update Post</button>
    </div>
  </form>
</div>

<%- include("footer") -%>
